_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
.DS_Store

*.xcuserstate

Cartfile.resolved
Carthage/Checkouts/Alamofire/.gitignore
Carthage/Checkouts/Alamofire/.travis.yml
Carthage/Checkouts/Alamofire/Alamofire.podspec
Carthage/Checkouts/Alamofire/CHANGELOG.md
Carthage/Checkouts/Alamofire/CONTRIBUTING.md
Carthage/Checkouts/Alamofire/LICENSE
Carthage/Checkouts/Alamofire/Package.swift
Carthage/Checkouts/Alamofire/README.md
Carthage/Checkouts/Alamofire/Alamofire.xcodeproj/project.pbxproj
Carthage/Checkouts/Alamofire/Alamofire.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Carthage/Checkouts/Alamofire/Alamofire.xcodeproj/xcshareddata/xcschemes/Alamofire iOS.xcscheme
Carthage/Checkouts/Alamofire/Alamofire.xcodeproj/xcshareddata/xcschemes/Alamofire OSX.xcscheme
Carthage/Checkouts/Alamofire/Alamofire.xcodeproj/xcshareddata/xcschemes/Alamofire tvOS.xcscheme
Carthage/Checkouts/Alamofire/Alamofire.xcodeproj/xcshareddata/xcschemes/Alamofire watchOS.xcscheme
Carthage/Checkouts/Alamofire/Alamofire.xcworkspace/contents.xcworkspacedata
Carthage/Checkouts/Alamofire/Documentation/Alamofire 2.0 Migration Guide.md
Carthage/Checkouts/Alamofire/Documentation/Alamofire 3.0 Migration Guide.md
Carthage/Checkouts/Alamofire/Example/iOS Example.xcodeproj/project.pbxproj
Carthage/Checkouts/Alamofire/Example/iOS Example.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Carthage/Checkouts/Alamofire/Example/iOS Example.xcodeproj/xcshareddata/xcschemes/iOS Example.xcscheme
Carthage/Checkouts/Alamofire/Example/Resources/Info.plist
Carthage/Checkouts/Alamofire/Example/Resources/Base.lproj/Main.storyboard
Carthage/Checkouts/Alamofire/Example/Resources/Images.xcassets/AppIcon.appiconset/Contents.json
Carthage/Checkouts/Alamofire/Example/Resources/Images.xcassets/LaunchImage.launchimage/Contents.json
Carthage/Checkouts/Alamofire/Example/Resources/Images.xcassets/Logo.imageset/Contents.json
Carthage/Checkouts/Alamofire/Example/Resources/Images.xcassets/Logo.imageset/Logo.png
Carthage/Checkouts/Alamofire/Example/Resources/Images.xcassets/Logo.imageset/Logo@2x.png
Carthage/Checkouts/Alamofire/Example/Source/AppDelegate.swift
Carthage/Checkouts/Alamofire/Example/Source/DetailViewController.swift
Carthage/Checkouts/Alamofire/Example/Source/MasterViewController.swift
Carthage/Checkouts/Alamofire/Source/Alamofire.h
Carthage/Checkouts/Alamofire/Source/Alamofire.swift
Carthage/Checkouts/Alamofire/Source/Download.swift
Carthage/Checkouts/Alamofire/Source/Error.swift
Carthage/Checkouts/Alamofire/Source/Info-tvOS.plist
Carthage/Checkouts/Alamofire/Source/Info.plist
Carthage/Checkouts/Alamofire/Source/Manager.swift
Carthage/Checkouts/Alamofire/Source/MultipartFormData.swift
Carthage/Checkouts/Alamofire/Source/NetworkReachabilityManager.swift
Carthage/Checkouts/Alamofire/Source/Notifications.swift
Carthage/Checkouts/Alamofire/Source/ParameterEncoding.swift
Carthage/Checkouts/Alamofire/Source/Request.swift
Carthage/Checkouts/Alamofire/Source/Response.swift
Carthage/Checkouts/Alamofire/Source/ResponseSerialization.swift
Carthage/Checkouts/Alamofire/Source/Result.swift
Carthage/Checkouts/Alamofire/Source/ServerTrustPolicy.swift
Carthage/Checkouts/Alamofire/Source/Stream.swift
Carthage/Checkouts/Alamofire/Source/Timeline.swift
Carthage/Checkouts/Alamofire/Source/Upload.swift
Carthage/Checkouts/Alamofire/Source/Validation.swift
Carthage/Checkouts/Alamofire/Tests/AuthenticationTests.swift
Carthage/Checkouts/Alamofire/Tests/BaseTestCase.swift
Carthage/Checkouts/Alamofire/Tests/CacheTests.swift
Carthage/Checkouts/Alamofire/Tests/DownloadTests.swift
Carthage/Checkouts/Alamofire/Tests/Info.plist
Carthage/Checkouts/Alamofire/Tests/ManagerTests.swift
Carthage/Checkouts/Alamofire/Tests/MultipartFormDataTests.swift
Carthage/Checkouts/Alamofire/Tests/NetworkReachabilityManagerTests.swift
Carthage/Checkouts/Alamofire/Tests/NSURLSessionConfiguration+AlamofireTests.swift
Carthage/Checkouts/Alamofire/Tests/ParameterEncodingTests.swift
Carthage/Checkouts/Alamofire/Tests/RequestTests.swift
Carthage/Checkouts/Alamofire/Tests/ResponseSerializationTests.swift
Carthage/Checkouts/Alamofire/Tests/ResponseTests.swift
Carthage/Checkouts/Alamofire/Tests/ResultTests.swift
Carthage/Checkouts/Alamofire/Tests/ServerTrustPolicyTests.swift
Carthage/Checkouts/Alamofire/Tests/SessionDelegateTests.swift
Carthage/Checkouts/Alamofire/Tests/String+AlamofireTests.swift
Carthage/Checkouts/Alamofire/Tests/TLSEvaluationTests.swift
Carthage/Checkouts/Alamofire/Tests/UploadTests.swift
Carthage/Checkouts/Alamofire/Tests/URLProtocolTests.swift
Carthage/Checkouts/Alamofire/Tests/ValidationTests.swift
Carthage/Checkouts/Alamofire/Tests/Resources/Certificates/alamofire.org/alamofire-root-ca.cer
Carthage/Checkouts/Alamofire/Tests/Resources/Certificates/alamofire.org/alamofire-signing-ca1.cer
Carthage/Checkouts/Alamofire/Tests/Resources/Certificates/alamofire.org/alamofire-signing-ca2.cer
Carthage/Checkouts/Alamofire/Tests/Resources/Certificates/alamofire.org/expired.cer
Carthage/Checkouts/Alamofire/Tests/Resources/Certificates/alamofire.org/missing-dns-name-and-uri.cer
Carthage/Checkouts/Alamofire/Tests/Resources/Certificates/alamofire.org/multiple-dns-names.cer
Carthage/Checkouts/Alamofire/Tests/Resources/Certificates/alamofire.org/signed-by-ca1.cer
Carthage/Checkouts/Alamofire/Tests/Resources/Certificates/alamofire.org/signed-by-ca2.cer
Carthage/Checkouts/Alamofire/Tests/Resources/Certificates/alamofire.org/test.alamofire.org.cer
Carthage/Checkouts/Alamofire/Tests/Resources/Certificates/alamofire.org/valid-dns-name.cer
Carthage/Checkouts/Alamofire/Tests/Resources/Certificates/alamofire.org/valid-uri.cer
Carthage/Checkouts/Alamofire/Tests/Resources/Certificates/alamofire.org/wildcard.alamofire.org.cer
Carthage/Checkouts/Alamofire/Tests/Resources/Certificates/disig.sk/intermediate-ca-disig.cer
Carthage/Checkouts/Alamofire/Tests/Resources/Certificates/disig.sk/root-ca-disig.cer
Carthage/Checkouts/Alamofire/Tests/Resources/Certificates/disig.sk/testssl-expire.disig.sk.cer
Carthage/Checkouts/Alamofire/Tests/Resources/Certificates/selfSignedAndMalformedCerts/certDER.cer
Carthage/Checkouts/Alamofire/Tests/Resources/Certificates/selfSignedAndMalformedCerts/certDER.crt
Carthage/Checkouts/Alamofire/Tests/Resources/Certificates/selfSignedAndMalformedCerts/certDER.der
Carthage/Checkouts/Alamofire/Tests/Resources/Certificates/selfSignedAndMalformedCerts/certPEM.cer
Carthage/Checkouts/Alamofire/Tests/Resources/Certificates/selfSignedAndMalformedCerts/certPEM.crt
Carthage/Checkouts/Alamofire/Tests/Resources/Certificates/selfSignedAndMalformedCerts/keyDER.der
Carthage/Checkouts/Alamofire/Tests/Resources/Certificates/selfSignedAndMalformedCerts/randomGibberish.crt
Carthage/Checkouts/Alamofire/Tests/Resources/Images/rainbow.jpg
Carthage/Checkouts/Alamofire/Tests/Resources/Images/unicorn.png
Carthage/Checkouts/CryptoSwift/.gitignore
Carthage/Checkouts/CryptoSwift/.travis.yml
Carthage/Checkouts/CryptoSwift/CHANGELOG
Carthage/Checkouts/CryptoSwift/CryptoSwift.podspec
Carthage/Checkouts/CryptoSwift/LICENSE
Carthage/Checkouts/CryptoSwift/Package.swift
Carthage/Checkouts/CryptoSwift/README.md
Carthage/Checkouts/CryptoSwift/Carthage/Build
Carthage/Checkouts/CryptoSwift/CryptoSwift.playground/Contents.swift
Carthage/Checkouts/CryptoSwift/CryptoSwift.playground/contents.xcplayground
Carthage/Checkouts/CryptoSwift/CryptoSwift.xcodeproj/project.pbxproj
Carthage/Checkouts/CryptoSwift/CryptoSwift.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Carthage/Checkouts/CryptoSwift/CryptoSwift.xcodeproj/project.xcworkspace/xcshareddata/CryptoSwift.xcscmblueprint
Carthage/Checkouts/CryptoSwift/CryptoSwift.xcodeproj/xcshareddata/xcbaselines/754BE45F19693E190098E6F3.xcbaseline/85434D17-7706-4DE9-AFA7-B1DD0BD9FA39.plist
Carthage/Checkouts/CryptoSwift/CryptoSwift.xcodeproj/xcshareddata/xcbaselines/754BE45F19693E190098E6F3.xcbaseline/9396A4FE-F8F7-4542-8F75-DE77E1FEBEB9.plist
Carthage/Checkouts/CryptoSwift/CryptoSwift.xcodeproj/xcshareddata/xcbaselines/754BE45F19693E190098E6F3.xcbaseline/C6E1ABC4-5FB9-4A9E-8171-64B34C8D865C.plist
Carthage/Checkouts/CryptoSwift/CryptoSwift.xcodeproj/xcshareddata/xcbaselines/754BE45F19693E190098E6F3.xcbaseline/Info.plist
Carthage/Checkouts/CryptoSwift/CryptoSwift.xcodeproj/xcshareddata/xcschemes/CryptoSwift iOS.xcscheme
Carthage/Checkouts/CryptoSwift/CryptoSwift.xcodeproj/xcshareddata/xcschemes/CryptoSwift OSX.xcscheme
Carthage/Checkouts/CryptoSwift/CryptoSwift.xcodeproj/xcshareddata/xcschemes/CryptoSwift tvOS.xcscheme
Carthage/Checkouts/CryptoSwift/CryptoSwift.xcodeproj/xcshareddata/xcschemes/CryptoSwift watchOS.xcscheme
Carthage/Checkouts/CryptoSwift/CryptoSwift.xcworkspace/contents.xcworkspacedata
Carthage/Checkouts/CryptoSwift/CryptoSwift.xcworkspace/xcshareddata/CryptoSwift.xcscmblueprint
Carthage/Checkouts/CryptoSwift/CryptoSwiftTests/AESTests.swift
Carthage/Checkouts/CryptoSwift/CryptoSwiftTests/Bridging.h
Carthage/Checkouts/CryptoSwift/CryptoSwiftTests/ChaCha20Tests.swift
Carthage/Checkouts/CryptoSwift/CryptoSwiftTests/ExtensionsTest.swift
Carthage/Checkouts/CryptoSwift/CryptoSwiftTests/HashTests.swift
Carthage/Checkouts/CryptoSwift/CryptoSwiftTests/Helpers.swift
Carthage/Checkouts/CryptoSwift/CryptoSwiftTests/HMACTests.swift
Carthage/Checkouts/CryptoSwift/CryptoSwiftTests/Info.plist
Carthage/Checkouts/CryptoSwift/CryptoSwiftTests/PaddingTests.swift
Carthage/Checkouts/CryptoSwift/CryptoSwiftTests/PBKDF.swift
Carthage/Checkouts/CryptoSwift/CryptoSwiftTests/Poly1305Tests.swift
Carthage/Checkouts/CryptoSwift/CryptoSwiftTests/RabbitTests.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift.h
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/AES.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/Array+Extension.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/Authenticator.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/Bit.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/BlockCipher.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/BytesSequence.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/ChaCha20.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/Cipher.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/CRC.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/Cryptors.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/CSArrayType+Extensions.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/Generics.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/Hash.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/HashProtocol.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/HMAC.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/Info.plist
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/IntegerConvertible.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/IntExtension.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/MD5.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/Multiplatform.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/NoPadding.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/Operators.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/Padding.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/PKCS7.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/Poly1305.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/Rabbit.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/SecureBytes.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/SHA1.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/SHA2.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/String+Extension.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/UInt32Extension.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/UInt64Extension.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/UInt8Extension.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/UpdatableCryptor.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/Utils.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/BlockMode/BlockMode.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/BlockMode/BlockModeOptions.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/BlockMode/BlockModeWorker.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/BlockMode/CBC.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/BlockMode/CFB.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/BlockMode/CTR.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/BlockMode/ECB.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/BlockMode/OFB.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/BlockMode/PCBC.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/Foundation/AES+Foundation.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/Foundation/ArrayUInt8+Foundation.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/Foundation/ChaCha20+Foundation.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/Foundation/CSArrayType+Foundation.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/Foundation/NSData+Extension.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/Foundation/Rabbit+Foundation.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/Foundation/String+FoundationExtension.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/Foundation/String+LinuxFoundation.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/Foundation/Utils+Foundation.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/PKCS5/PBKDF1.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/PKCS5/PBKDF2.swift
Carthage/Checkouts/CryptoSwift/Sources/CryptoSwift/PKCS5/PKCS5.swift
